@media screen and ( max-width: 600px ){
    .container {
        width: 600px;
        /* width: 80%; */
    }
    .note-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 20px; */
    }
}
    

@media screen and (min-width:601px) and ( max-width: 992px ){
    .container {
        width: 992px;
    }
    .note-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: 20px; */
    }

    .note {
        /* background-color: white;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative; */
        width: 270px;
        height: 190px;
    }
}